<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
		
		<div id="tabContainer" class="tabsContainer">
			<a href="#/infoview" class="infoTab" data-toggle="tooltip" title="About"><img src="/images/info.png" width="40" height="40" style="float: left" alt="submit"/></a>
			<div id="upperTabDataView" class="tabs">
			</div>
		</div>
		
		<div id="calendarContainer" class="calendarsArea">
			<p class="calendars">From: <input type="text" id="datepickerFrom"></p>
			<p class="calendars">To: <input type="text" id="datepickerTo"></p>
			<button class="filterMoods" onclick="filterMoods()">Filter</button>
		</div>
		
		<div class="outer">
			<div class="inner">

				<table id="nameTable" class="moodsGrid">
					<tr>
						<td rowspan="2"></td>
						<th colspan="3" class="dateCell">20/01/2016</th>
						<th colspan="3" class="dateCell">21/01/2016</th>
						<th class="emptyCell"></th>
						<th class="emptyCell"></th>
						<th colspan="3" class="dateCell">24/01/2016</th>
						<th colspan="3" class="dateCell">25/01/2016</th>
						<th colspan="3" class="dateCell">26/01/2016</th>
						<th colspan="3" class="dateCell">27/01/2016</th>
						<th colspan="3" class="dateCell">28/01/2016</th>
						<th colspan="3" class="dateCell">29/01/2016</th>
						<th colspan="3" class="dateCell">30/01/2016</th>
					</tr>
					<tr>
						<td class="timeCell">09:00</td>
						<td class="timeCell">13:00</td>
						<td class="timeCell">17:00</td>
						<td class="timeCell">09:00</td>
						<td class="timeCell">13:00</td>
						<td class="timeCell">17:00</td>
						<td class="emptyCell"></td>
						<td class="emptyCell"></td>
						<td class="timeCell">09:00</td>
						<td class="timeCell">13:00</td>
						<td class="timeCell">17:00</td>
						<td class="timeCell">09:00</td>
						<td class="timeCell">13:00</td>
						<td class="timeCell">17:00</td>
						<td class="timeCell">09:00</td>
						<td class="timeCell">13:00</td>
						<td class="timeCell">17:00</td>
						<td class="timeCell">09:00</td>
						<td class="timeCell">13:00</td>
						<td class="timeCell">17:00</td>
						<td class="timeCell">09:00</td>
						<td class="timeCell">13:00</td>
						<td class="timeCell">17:00</td>
						<td class="timeCell">09:00</td>
						<td class="timeCell">13:00</td>
						<td class="timeCell">17:00</td>
						<td class="timeCell">09:00</td>
						<td class="timeCell">13:00</td>
						<td class="timeCell">17:00</td>
					</tr>
					<tr>
						<th scope="row" class="userCell">Marvin Seguna</th>
						<td class="iconCell"><img src="/images/happy_icon.png"/></td>
						<td class="iconCell"><img src="/images/happy_icon.png"/></td>
						<td class="iconCell"><img src="/images/happy_icon.png"/></td>
						<td class="iconCell"><img src="/images/happy_icon.png"/></td>
						<td class="iconCell"><img src="/images/happy_icon.png"/></td>
						<td class="iconCell">a</td>
						<td class="emptyCell"></td>
						<td class="emptyCell"></td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
					</tr>
					<tr>
						<th scope="row" class="userCell">Matthew Debattista</th>
						<td class="iconCell">h</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="emptyCell"></td>
						<td class="emptyCell"></td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell"><img src="/images/chill_icon.png"/></td>
						<td class="iconCell"><img src="/images/angry_icon.png"/></td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
					</tr>
					<tr>
						<th scope="row" class="userCell">Joe Mizzi</th>
						<td class="iconCell">h</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="emptyCell"></td>
						<td class="emptyCell"></td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
					</tr>
					<tr>
						<th scope="row" class="userCell">Reuben Sammut</th>
						<td class="iconCell">h</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="emptyCell"></td>
						<td class="emptyCell"></td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell"><img src="/images/angry_icon.png"/></td>
						<td class="iconCell"><img src="/images/sad_icon.png"/></td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
					</tr>
					<tr>
						<th scope="row" class="userCell">Johann Mifsud</th>
						<td class="iconCell">h</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="emptyCell"></td>
						<td class="emptyCell"></td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
					</tr>
					<tr>
						<th scope="row" class="userCell">David Farrugia</th>
						<td class="iconCell">h</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="emptyCell"></td>
						<td class="emptyCell"></td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
					</tr>
					<tr>
						<th scope="row" class="userCell">Mark Zammit</th>
						<td class="iconCell">h</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="emptyCell"></td>
						<td class="emptyCell"></td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
					</tr>
					<tr>
						<th scope="row" class="userCell">Joseph Spiteri</th>
						<td class="iconCell">h</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="emptyCell"></td>
						<td class="emptyCell"></td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
					</tr>
					<tr>
						<th scope="row" class="lastUserCell">Hans Camilleri</th>
						<td class="iconCell">h</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="emptyCell"></td>
						<td class="emptyCell"></td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
						<td class="iconCell">a</td>
						<td class="iconCell">c</td>
						<td class="iconCell">a</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="bottomPad"></div>
	</body>
</html>