<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
		
		<div id="calendarContainer" class="calendarsArea">
			<p class="calendarFilters">From: <input type="text" id="datepickerFrom" style="text-align: center;"></p>
			<p class="calendarFilters">To: <input type="text" id="datepickerTo" style="text-align: center;"></p>
			<p class="calendarFilters">Team: <input type="text" id="teamFilter" style="width: 60px;text-align: center;"></p>
			<button class="filterMoods" onclick="MOODS.filterMoods()">Filter</button>
		</div>
		
		<div class="outer">
			<div class="inner">
				<table id="moodsTable" class="moodsGrid"></table>
			</div>
		</div>
		
		<div class="bottomPad"></div>
	</body>
</html>