<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
		
		<div id="calendarContainer" class="calendars_area">
			<p class="calendars">From: <input type="text" id="datepickerFrom"></p>
			<p class="calendars">To: <input type="text" id="datepickerTo"></p>
			<button class="filter_moods" onclick="FilterMoods()">Filter</button>
		</div>
		
		<table id="moodTable">
		</table>
	</body>
</html>