<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
		
		<div id="tabContainer" class="tabsContainer">
			<a href="#/infoview" class="infoTab" data-toggle="tooltip" title="About"><img src="/images/info.png" width="40" height="40" style="float: left" alt="submit"/></a>
			<div id="upperTabDataView" class="tabs">
			</div>
		</div>
		
		<div id="calendarContainer" class="calendarsArea">
			<p class="calendars">From: <input type="text" id="datepickerFrom"></p>
			<p class="calendars">To: <input type="text" id="datepickerTo"></p>
			<button class="filterMoods" onclick="filterMoods()">Filter</button>
		</div>
		
		<div class="outer">
			<div class="inner">

				<table id="moodsTable" class="moodsGrid">
					
				</table>
			</div>
		</div>
		
		<div class="bottomPad"></div>
	</body>
</html>