<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
		
		<div id="particles-js-nomove"/>
		<div id="particles-js-move" style="visibility:hidden;"/>
		
		<div id="tabContainer" class="tabsContainer">
			<a tabindex="6" href="#/infoview" class="infoTab" data-toggle="tooltip" title="About"><img src="/images/info.png" width="40" height="40" style="float: left" alt="submit"/></a>
			<div id="upperTab" class="tabs"></div>
		</div>
		
		<div id="greeting" class="greeting">
			<p>How are you feeling today 
			<sub tabindex="0" id="team" class="team" onclick="MOODS.highlightSpanText('team')"></sub>
			<input tabindex="1" id="user" class="username" type="text" spellcheck="false" title="First time: TEAM:Name Surname" onclick="this.setSelectionRange(0, this.value.length)" onblur="MOODS.setUserAndTeam()"></input>
			?</p>
		</div>
	</body>
</html>