<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
		
		<div id="particles-js"/>
		
		<div id="tabContainer" class="tabsContainer">
			<a tabindex="6" href="#/infoview" class="infoTab" data-toggle="tooltip" title="About"><img src="/images/info.png" width="40" height="40" style="float: left" alt="submit"/></a>
			<div id="upperTab" class="tabs"></div>
		</div>
		
		<div id="greeting" class="greeting">
			<p>How are you feeling today 
			<sub tabindex="0" id="team" class="team" onclick="MOODS.highlightSpanText('team')" data-bind="text: team"></sub>
			<span tabindex="1" contenteditable="true" spellcheck="false" id="user" onclick="MOODS.highlightSpanText('user')" onkeydown="MOODS.userKeyDown( event )" class="username" onBlur="MOODS.setUserAndTeam()" title="First time: TEAM:Name Surname" data-bind="text: user"></span>
			?</p>
		</div>
	</body>
</html>