<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
		
		<div class="tabs">
			<a href="#/dataview" class="abutton">View Data</a>
			<a href="#/" class="abutton">Moods</a>
		</div>
	</body>
</html>