<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
		
		<div class="entry-content">  
			<h1>About Moods<sub style="color:green;font-size:15px;margin-left:10px;"><b>0.0.3</b></sub></h1>
			<h3>Niko-niko Calendar</h3>
			<div class="image-left"><img title="niko-niko_calendar" src="/images/nikonikocalendar.png" height="212" width="300"><br>
				Example of a Niko-niko Calendar for Teams
			</div>
		  
			<p>Niko-niko calendar, also known as smiley calendar or happiness index, is a <strong>tool to track the mood of a team</strong>. Nikoniko is Japanese ideophone for smiling. You set up a calendar, and each team member tracks her / his mood after each working day with a smiley. That could be a happy :-), straight :-| or frowning smiley :-(.</p>
			<p>In regular intervals (like e.g. in each retrospective) the team gathers to <strong>analyse the data</strong>. Here are a few examples in a team with five members, where the average over the last period was ...</p>
			<ul>
				<li><strong>... one happy smiley, four frowning smileys</strong> (or one frowning smiley and four happy smileys): What's going on here? Does the team have an outsider? Why is there such a big diversion?</li>
				<li><strong>... all frowning smileys</strong>: Uh, bad karma in the team. Why? What is upsetting them?</li>
				<li><strong>... all happy smileys, and a broken sprint, angry customers, bad code, lots of bugs</strong>: Why are they happy in the middle of a mess? Why don't they care about their work?</li>
			</ul>
			<p>Data from a Niko-niko calendar is a <strong>huge opportunity for reflection</strong>, and get feedback from changes like altering the environment immediately. In case of a good change, the team's mood will lighten up, and in case of a bad change, ... well, you get the point. And with a Niko-niko calendar the team will get <strong>immediate feedback on its mood</strong>.</p>
			<p>Niko-niko calendars are in many cases much faster when it comes to indicate problems. They are easily built and ready to use in almost no time.</p>
			<p><strong>Read further</strong>:</p>
			<ul>
				<li>Sakata Akinori did a great job of <a href="http://www.geocities.jp/nikonikocalendar/index_en.html">explaining everything you have to know about Niko-niko calendars</a>.</li>
				<li>How to Track the Team's Mood with a <a href="http://agiletrail.com/2011/09/12/how-to-track-the-teams-mood-with-a-niko-niko-calendar/">Niko-niko Calendar</a>.</li>
				<li>A niko-niko calendar can be used to <a href="http://agiletrail.com/2011/09/19/3-metrics-for-reporting-an-agile-pilot-to-top-management/">calculate a happy index as a metric which is part of reporting for top management</a>.</li>
				<li><a href="http://blog.nikoniko.co/post/82951593841/a-history-of-niko-niko-calendars-in-agile">A History of Niko Niko Calendars in Agile Development</a>.</li>
			</ul>
			<p></p>
			<hr/>
			<h3>Additional Information</h3>
			<p>Forged and coded by Marvin Seguna <a href="https://github.com/marvinseguna">(Github link)</a> </p>
			<p>Moods is build on Sinatra and KnockoutJS. Useful links:
				<ul>
					<li><a href="http://www.sinatrarb.com/">Sinatra</a></li>
					<li><a href="http://knockoutjs.com/">KnockoutJS</a> (includes tutorials)</li>
					<li><a href="http://www.w3schools.com/json/">JSON</a> (requests between client and server are done in JSON format)</li>
					<li><a href="https://en.wikipedia.org/wiki/Single-page_application">Single Page Application</a> (SPA)</li>
					<li><a href="http://findicons.com/">Page icons</a></li>
					<li><a href="http://www.brainyquote.com/">Quotes</a></li>
					<li><a href="https://github.com/VincentGarreau/particles.js/">ParticleJS library</a></li>
				</ul>
			</p>
			<hr/>
			<p><strong>Moods is released under MIT License</strong><a href="https://opensource.org/licenses/mit-license.html"> (MIT)</a></p>
			<p>Copyright (c) 2016 Marvin Seguna</p>
			<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
			<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
			<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
		</div>
	</body>
</html>
