<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
		
		<div id="tabContainer" class="tabsContainer">
			<a href="#/infoview" class="infoTab" data-toggle="tooltip" title="About"><img src="/images/info.png" width="40" height="40" style="float: left" alt="submit"/></a>
			<div id="upperTabChoice" class="tabs">
			</div>
		</div>
		
		<p>Hi</p>
	</body>
</html>