<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
			
		<div class="emoticonsSpace">
			<div class="happyImage" onclick="MOODS.acceptInput('happy')" height="150" width="200" data-toggle="tooltip" title="Happy"></div> <!-- to bind image name => #data-bind="attr:{ src: '/images/' + mood_happy }" -->
			<div class="chillImage" onclick="MOODS.acceptInput('chill')" height="150" width="200" data-toggle="tooltip" title="Chill"></div>
			<div class="sadImage" onclick="MOODS.acceptInput('sad')" height="150" width="200" data-toggle="tooltip" title="Sad"></div>
			<div class="angryImage" onclick="MOODS.acceptInput('angry')" height="150" width="200" data-toggle="tooltip" title="Angry"></div>
		</div>
		
		<div id="messageDiv" class="inspirationMessage"><p id="message"></p><p id="author" class="inspirationAuthor"></p></div>
	</body>
</html>