<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
		
		<div id="tabContainer" class="tabsContainer">
			<a href="#/infoview" class="infoTab" data-toggle="tooltip" title="About"><img src="/images/info.png" width="40" height="40" style="float: left" alt="submit"/></a>
			<div id="upperTabChoice" class="tabs"></div>
		</div>
		
		<div class="greeting">
			<p>How are you feeling today 
			<input id="team" class="team" value="CS" onClick="this.setSelectionRange( 0, this.value.length )" data-bind="textInput: team"/>
			<input id="user" class="username" onClick="this.setSelectionRange( 0, this.value.length )" data-bind="textInput: user"/>
			?</p>
		</div>
		<div class="emoticonsSpace">
			<div class="happyImage" onclick="AcceptInput('happy')" height="150" width="200" data-toggle="tooltip" title="Happy"></div> <!-- to bind image name => #data-bind="attr:{ src: '/images/' + mood_happy }" -->
			<div class="chillImage" onclick="AcceptInput('chill')" height="150" width="200" data-toggle="tooltip" title="Chill"></div>
			<div class="sadImage" onclick="AcceptInput('sad')" height="150" width="200" data-toggle="tooltip" title="Sad"></div>
			<div class="angryImage" onclick="AcceptInput('angry')" height="150" width="200" data-toggle="tooltip" title="Angry"></div>
		</div>
		
		<div id="messageDiv" class="inspirationMessage"><p id="message"></p><p id="author" class="inspirationAuthor"></p></div>
	</body>
</html>