<!DOCTYPE html >
<html>
	<body>
		<div class="pageSwitch">
			<p>kekburlmao</p>
		</div>
		
		
		<div class="emoticons_space">
			<div class="happy_image" onclick="AcceptInput('happy')" height="150" width="200"></div> <!-- to bind image name => #data-bind="attr:{ src: '/images/' + mood_happy }" -->
			<div class="sad_image" onclick="AcceptInput('sad')" height="150" width="200"></div>
			<div class="chill_image" onclick="AcceptInput('chill')" height="150" width="200"></div>
			<div class="angry_image" onclick="AcceptInput('angry')" height="150" width="200"></div>
		</div>
	</body>
</html>