/* Used for top bar selector */
.tabsContainer
{
	width: 100%;
	height: 50px;
	background-color: lightblue;
}
.infoTab
{
	float: left;
	margin-top: 5px;
	margin-left: 20px;
}

.buttonLinks
{
	float: right;
	margin-top: 5px;
	margin-right: 35px;
}

/* Greeting message div, username in message and the emoticons div  */
.greeting
{
	font-size: 32px;
	margin-left: auto;
	margin-top: 70px;
	width: 800px;
	margin-right: auto;
}
.username
{
	font-size: 32px;
	width: 300px;
	text-align: center;
	border-top: none;
	border-right: none;
	border-left: none;
}
.emoticonsSpace
{
	margin-left: auto;
	margin-top: 70px;
	width: 800px;
	margin-right: auto;
}

/* Images shown in main screen */
.happyImage
{
	width: 200px; 
	height: 160px; 
    background-image: url('/images/happy.png');
    background-repeat: no-repeat;
    background-size: contain;
	float: left;
}
.happyImage:hover
{
    opacity: 0.5;
	cursor: pointer;
}

.sadImage
{
	width: 200px; 
	height: 160px; 
    background-image: url('/images/sad.png');
    background-repeat: no-repeat;
    background-size: contain;
	overflow: hidden;
	float: left;
}
.sadImage:hover
{
    opacity: 0.5;
	cursor: pointer;
}

.chillImage
{
	width: 200px; 
	height: 160px; 
    background-image: url('/images/chill.png');
    background-repeat: no-repeat;
    background-size: contain;
	overflow: hidden;
	float: left;
}
.chillImage:hover
{
    opacity: 0.5;
	cursor: pointer;
}

.angryImage
{
	width: 200px; 
	height: 160px; 
    background-image: url('/images/angry.png');
    background-repeat: no-repeat;
    background-size: contain;
	overflow: hidden;
	float: left;
}
.angryImage:hover
{
    opacity: 0.5;
	cursor: pointer;
}


/* Moods viewing grid */
.moodsGrid
{
	display: inline-block;
	background-color: lightblue;
	width: 100%;
}
.dateCell, .timeCell, .iconCell
{
	border: 1px solid black;
	text-align: center;
	vertical-align: top;
	padding: 10px;
	width: 100px;
}
.iconCell, .userCell
{
	height: 51px;
}
.emptyCell
{
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 2px;
}
.dateCell
{
	width: 150px;
	height: 40px;
	font-size: 16px;
}
.timeCell
{
	width: 40px;
	font-size: 12px;
}
.userCell, .lastUserCell
{
	position:absolute;
	width: 170px;
	font-size: 16px;
	left: 0px; 
	border-left: 1px solid black;
	border-top: 1px solid black;
	text-align: center;
	padding-top: 15px;
}
.lastUserCell
{
	border-bottom: 1px solid black;
	height: 52px;
}

.outer 
{
	position: relative;
	width: 80%; 
	margin-left: 10%;
	background-color: lightblue;
}
.inner 
{
	overflow-x: scroll;
	overflow-y: visible;
	margin-left: 170px;
	background-color: lightblue;
}
.bottomPad
{
	margin-bottom: 35px;
}


/*calendars placed above table in View Data tab*/
.calendarsArea
{
	width: 1000px;
	height: 150px;
	margin-top: 40px;
	margin-left: 100px;
	margin-bottom: -70px;
}
.calendars, .filter_moods
{
	float: left; 
	margin-right: 20px;
}
div.ui-datepicker
{
	font-size: 14px;
}
.ui-datepickerth
{
	font-size: 16px;
}
.filterMoods
{
	width: 60px;
}

.inspirationMessage
{
	padding: 15px;
	padding-right: 150px;
	padding-left: 150px;
	border: 1px solid transparent;
	border-radius: 4px;  
	position: absolute;
	width: 100%;
	height: 200px;
	font-size: 26px;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.inspirationAuthor
{
	font-style: italic;
	font-size: 20px;
}

/* About-page */
.image-left 
{
	float: left;
	text-align: center;
	margin: 1em;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	font-size: 0.7em;
}
.entry-content
{
	padding-left: 50px;
	padding-right: 50px;
}
p
{
	line-height: 24px;
}
body
{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	color: #333;
	font-size: 16px;
	clear: both;
}
